if SHIELD_CORELL_R

config ZMK_KEYBOARD_NAME
    default "Corell"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_CORELL_L

config ZMK_KEYBOARD_NAME
    default "Corell"

config ZMK_SPLIT
    default y

endif
